html {
	height: 100%;
	body {
		height: 100%;
		min-height:100%; 
		animation: colorchange 4s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      	-webkit-animation: colorchange 4s linear alternate infinite; /* Chrome and Safari */
	}
}
//hero-banner
.full-height {
	height:100%;
	min-height:100%;
	position: relative;
}
.full-width {
	width: 100%;
}

.logo-container {
	position: absolute;
	height:50px;
	width: 500px;
	max-width: 80%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	.nu-colorz-logo {
		width: 100%;
	}

}
.footer-links {
	position: absolute;
	bottom: 0;
	width:100%;
	height: 50px;
	color: white;
	display: inline;
	text-align: center;
	a, .facebook-link, .soundcloud-link, .mixcloud-link {
		display: inline;
		color: white;
		animation: color ease-in 0.5s
	}
	.facebook-link {
		&:hover, &:active, &:focus {
			color:#3b5998;
		}
	}
	.soundcloud-link {
		&:hover, &:active, &:focus {
			color:#FEBF78;
		}	
	}
}

/* Color Animation*/
@keyframes colorchange
{
  0%   {background: #61BC45;}
  20%  {background: #FCB827;}
  40%  {background: #F78222;}
  60%  {background: #E2373F;}
  80% {background: #953C96;}
  100% {background: #009EDF;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #61BC45;}
  20%  {background: #FCB827;}
  40%  {background: #F78222;}
  60%  {background: #E2373F;}
  80% {background: #953C96;}
  100% {background: #009EDF;}
}
@keyframes fontcolorchange
{
  0%   {color: #61BC45;}
  20%  {color: #FCB827;}
  40%  {color: #F78222;}
  60%  {color: #E2373F;}
  80% {color: #953C96;}
  100% {color: #009EDF;}
}

@-webkit-keyframes fontcolorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: #61BC45;}
  20%  {color: #FCB827;}
  40%  {color: #F78222;}
  60%  {color: #E2373F;}
  80% {color: #953C96;}
  100% {color: #009EDF;}
}
