---
title: Welcome to Nu Colorz
---
.full-height.full-width
	.hero-background
	.white-overlay
	.logo-container
		%img{src: 'images/nu-colorz-logo.png', class: "nu-colorz-logo"}
	.footer-links
		.col-xs-12.col-sm-4.col-sm-offset-4
			.facebook-link
				= link_to 'http://www.facebook.com/nu-colorz', target: "_blank", class: "facebook-link" do 
					%i.fa.fa-facebook.fa-2x
			.soundcloud-link
				= link_to 'http://www.soundcloud.com/nucolorz', target: "_blank", class: "soundcloud-link" do 
					%i.fa.fa-soundcloud.fa-2x						
